(USE THESE TABLES!) The static tables we will be using in this class are in the dataset san_francisco :

bikeshare_stations

bikeshare_status

bikeshare_trips

## Part 1

### Initial Questions

1. What's the size of this dataset? (i.e., how many trips)

```sql
#standardSQL
select count(station_id)
from `bigquery-public-data.san_francisco.bikeshare_stations`
```
Row | StationsSize	
--- | ------------
1	| 74

```sql 
#standardSQL
select count(distinct station_id) as StationsNumber
from `bigquery-public-data.san_francisco.bikeshare_stations`
```
Row | StationsNumber
--- | --------------
1	| 74


```sql
#standardSQL
select count(*) as StatusSize
from `bigquery-public-data.san_francisco.bikeshare_status`
```
Row | StationsNumber
--- | --------------
1	|107501619

```sql
#standardSQL
select count(*) as TripsSize
from `bigquery-public-data.san_francisco.bikeshare_trips`
```
Row | TripsSize	
--- | ---------
1	| 983648

```sql
#standardSQL
select count(distinct trip_id) as TripsNumber
from `bigquery-public-data.san_francisco.bikeshare_trips`
```
Row	| TripsNumber	
--- | -----------
1	| 983648

2. What is the earliest start date and time and latest end date and time for a trip?

```sql
#standardSQL
select min(start_date) as EarlyTime
from `bigquery-public-data.san_francisco.bikeshare_trips`
```
Row	| EarlyTime	
--- | ---------
1	| 2013-08-29 09:08:00 UTC

```sql
#standardSQL
select max(end_date) as LateTime
from `bigquery-public-data.san_francisco.bikeshare_trips`
```
Row | LateTime	
--- | --------
1	| 2016-08-31 23:48:00 UTC

3. How many bikes are there?

bike_number is the ID of bike used. 
```sql
#standardSQL
select count(distinct bike_number) as LateTime
from `bigquery-public-data.san_francisco.bikeshare_trips`
```

Row | LateTime	
--- | --------
1	| 700


```sql
#standardSQL
select sum (bikes_available) as total_available, time from `bigquery-public-data.san_francisco.bikeshare_status`
group by time
order by total_available DESC
```
Row | total_available | time
--- | --------------- | ----
1	| 641 | 2014-11-01 03:56:02 UTC
2	| 640 | 2014-11-01 00:33:03 UTC
3	| 640 | 2014-11-01 01:18:03 UTC
4	| 640 | 2014-11-01 06:20:02 UTC
5	| 640 | 2014-11-01 03:48:03 UTC

Questions of your own
Make up 3 questions and answer them using the Bay Area Bike Share Trips Data. These questions MUST be different than any of the questions and queries you ran above.

Question 1: In which zip code area, there are the most share trips?

Answer: 94107, with 106913 trips
SQL query:
```sql
#standardSQL
select count (distinct trip_id) as trips_number, zip_code from `bigquery-public-data.san_francisco.bikeshare_trips`
group by zip_code
order by trips_number DESC
```
Row	| trips_number | zip_code	
--- | ------------ | --------
1	| 106913 | 94107
2	| 61232 | 94105
3	| 46544 | 94133
4	| 38072 | 94103
5	| 33642 | 94111

Question 2:

Answer:
SQL query:


Question 3:

Answer:
SQL query: